{% extends "layout.html" %}
{% block content %}
	<h1>Process Control Inventory - Questionare</h1>
	
	<div class="container">
		<form method="POST" action="", enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottm mb-4"> {{ legend }} </legend>

					<!-- system -->
				<div class="form-group">
					{{ form.system.label(class="form-control-label") }}
					{% if form.system.errors %}
						{{ form.system(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.system.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.system(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				
					<!--manufacturer-->
				<div class="form-group">
					{{ form.manufacturer.label(class="form-control-label") }}
					{% if form.manufacturer.errors %}
						{{ form.manufacturer(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.manufacturer.errors %}
								<span> {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.manufacturer(class="form-control form-control-lg") }}
					{% endif %}
				</div>

			</fieldset>
				<!-- submit -->
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
{% endblock content %}